AIRTABLE_API_TOKEN=
AIRTABLE_BASE_ID=appQWn6xfTgaPuOfJ
EVENT_BUS_ARN=arn:aws:events:us-east-1:123456789012:event-bus/prod-ev
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_INVOICER_EMAIL= # email of the sandbox Business account (developer.paypal.com > Testing Tools > Sandbox Accounts)
PAYPAL_URL=https://api-m.sandbox.paypal.com
SCHEDULE_GROUP=prod-ev-invoice
SCHEDULE_ROLE_ARN=arn:aws:iam::123456789012:role/app/prod-ev-invoice-scheduler
